.Profile {
    width: 200px;
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px;
    border-radius: 20px;
    transition-duration: 0.2s;
    cursor: pointer;
}

.Profile:hover {
    transform: scale(0.9);
}