.book {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;

    &__id {
      margin-left: 4px;
      color: #aaa;
      font-size: .8rem;
      font-weight: normal;
    }
  }

  &__author {
    margin: 0;
    font-size: .9rem;

    &__name {
      margin-left: 2px;
    }
  }

  &__summary {
    margin: 16px 0 0 0;
    font-size: 1rem;
  }
}