.smileys-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.smileys-box > div {
  padding: 30px;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.smileys-box > div:hover {
  opacity: 1;
}

.smileys-box > div:active {
  transform: scale(0.7);
}
