.BookForm {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    width: 400px;
    height: 800px;
    text-align: center;
}

.BookForm > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.BookForm h2 > span {
    white-space: nowrap;
    color: brown;
}