.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  &__title {
    margin: 0;
  }

  &__toolbar {
    display: flex;
    //align-items: center;
    column-gap: 8px;
  }
}