.card {
    width: 18rem;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    user-select: none;
  }
  
  .smileys-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }