.App {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
}

.profiles-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
  width: 80%;
}
