@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Josefin+Sans:wght@300;400&family=Overpass&family=Poppins:wght@300&family=Raleway:wght@500&display=swap");

.App {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.content-profiles {
  display: flex;
  justify-content: center;
}

.profiles-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5em;
  width: 80%;
}

.content-books {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5em;
}

.books-tab table {
  border: 2px solid rgb(139, 139, 139);
  border-radius: 0.5em;
  margin-bottom: 1em;
}

.books-tab table tbody tr:nth-child(odd) {
  background-color: #93d0ee;
}

.books-tab table tbody tr:nth-child(even) {
  background-color: #e2f0f7;
}
