.form-create {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1em;
}

.form-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  width: 40em;
}

.form-field {
  display: flex;
  justify-content: space-between;
}

.form-field input,
.form-field textarea {
  width: 20em;
}

.form-field textarea {
  height: 10em;
}

.form-update img {
  width: 10em;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}
